<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Matrix</h2>
      </mat-card-title>
      <mat-card-subtitle>
        March 30, 1999 | Action, Science-Fiction | 2h 16m
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Overview">
          <p>
            Set in the 22nd century, The Matrix tells the story of a computer hacker
            who joins a group of underground insurgents fighting the vast
            and powerful computers who now rule the earth.
          </p>
        </mat-tab>
        <mat-tab label="Cast">

        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

<app-movie-cast></app-movie-cast>
